@font-face {
    font-family: pixl-font;
    src: url(KarmaFuture.otf);
}

@font-face {
    font-family: pixl-dark-font;
    src: url(KarmaSuture.otf);
}


@font-face {
    font-family: pixl-3d;
    src: url(HUMANOIDSTRAIGHT.TTF);
}
